@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root{
  --nike-color:#F2A20C;  
  --vans-color: #7F8C8D;
  --standard-color: #2874A6;
  --white-color:#E9EAEC;
  --dark-color:#272D40;
  --dark-color-light: #F2F5FF;

  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
}

*,::before,::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

h1,p{
  margin: 0;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-color-light);
}

.card{
  width: 320px;
  height: 400px;
  background-color: var(--dark-color);
  border-radius: 1rem;
  padding: 4rem 2rem 0;
  color: var(--white-color);
  overflow-y: hidden;
  margin-right: 10px;
}

.card_img{
  position: absolute;
  width: 260px;
  filter: drop-shadow(5px 10px 15px rgba(8,9,13,.4))
}

.card_data{
  transform: translateY(13.2rem);
  text-align: center;
}

.card_title_nike{
  font-size: var(--h1-font-size);
  color: var(--nike-color);
  margin-bottom: .5rem;
}

.card_title_vans{
  font-size: var(--h1-font-size);
  color: var(--vans-color);
  margin-bottom: .5rem;
}

.card_title{
  font-size: var(--h1-font-size);
  color: var(--standard-color);
  margin-bottom: .5rem;
}

.card_price{
  display: inline-block;
  font-size: var(--h2-font-size);
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.card_description{
  font-size: var(--small-font-size);
  text-align: initial;
  margin-bottom: 1.25rem;
  opacity: 0;
}

.card_button{
  display: block;
  width: max-content;
  padding: 1.125rem 2rem;
  background-color: var(--standard-color);
  color: var(--white-color);
  border-radius: .5rem;
  font-weight: 600;
  transition: .2s;
  opacity: 0;
}

.card_button_nike{
  display: block;
  width: max-content;
  padding: 1.125rem 2rem;
  background-color: var(--nike-color);
  color: var(--white-color);
  border-radius: .5rem;
  font-weight: 600;
  transition: .2s;
  opacity: 0;
}

.card_button_vans{
  display: block;
  width: max-content;
  padding: 1.125rem 2rem;
  background-color: var(--vans-color);
  color: var(--white-color);
  border-radius: .5rem;
  font-weight: 600;
  transition: .2s;
  opacity: 0;
}

.card_button:hover{
  box-shadow: 0 18px 40px -12px rgba(46, 134, 193, .35);
}

.card_button_nike:hover{
  box-shadow: 0 18px 40px -12px rgba(242, 162, 12, .35);
}

.card_img, .card_data, .card_title, .card_title_nike, .card_title_vans, .card_price, .card_description{
  transition: .5s;
}

.card:hover .card_img{
  transform: translate(-1.5rem, -9.5rem) rotate(-20deg);
}

.card:hover .card_data{
  transform: translateY(4.8rem);
}

.card:hover .card_title, .card:hover .card_title_nike{
  transform: translateX(-2.3rem);
  margin-bottom: 0;
}

.card:hover .card_title_vans{
  transform: translateX(-6.0rem);
  margin-bottom: 0;
}

.card:hover .card_price{
  transform: translateX(-5.5rem);
}

.card:hover .card_description, .card:hover .card_button, .card:hover .card_button_nike, .card:hover .card_button_vans{
  transition-delay: .2s;
  opacity: 1;
}